.App {
  min-height: 100vh;
  text-align: center;
  padding: 2rem;
}

.ui.menu:first-child {
  background: white;
  margin: 1rem;
}

.ui.button.estimate {
  background: #5A4FF3;
  color: white;
}

#video-background {
  /*  making the video fullscreen  */
  width: 2000px;
  z-index: -100;
}
.ui.fluid.container.heading {
  position: relative;
  overflow: hidden;
  height: 600px;
  max-width: 400px;
}
.ui.fluid.container.heading > .ui.fluid.container {
  position: absolute;
  top: 8rem;
  left: 0;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.56);
}