/*
#5A4FF3 purple
#E62BC6 fuchsia
#FF438E pink
#FF8460 orange
#FFC34E almost yellow
#F9F871 yellow
*/



.App {
  min-height: 100vh;
  text-align: center;
  padding-top: 7rem;
  position: relative;
  background: #5A4FF3;
}

.App > *{
  margin-right: 1rem;
  margin-left: 1rem;
}

.ui.button.signup {
  background: #E62BC6;
  color: white;
}

a.brand {
  font-size: 40px;
  color: white;
  font-weight: 700;
}

.ui.menu:first-child {
  background: #5A4FF3;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.ui.fluid.container.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.ui.button.estimate {
  background: #5A4FF3;
  color: white;
}

.ui.header.estimate {
  color: white;
}

#video-background {
  /*  making the video fullscreen  */
  width: 2000px;
  z-index: -100;
}
.ui.fluid.container.heading {
  border-radius: .3rem;
  margin-bottom: 4rem;
  position: relative;
  overflow: hidden;
  height: 700px;
  max-width: 400px;
}

.ui.fluid.container.options {
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 4rem 2rem 4rem;
  background-color: rgba(255, 255, 255);
  width: fit-content;
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,1);
  border-radius: .28571429rem;
  border: 1px solid rgba(34,36,38,.15);
}

a.loggedUserButton {
  color: white;
  margin-left: 1rem;
}

.ui.header.heroTitle {
  font-size: 4rem;
  font-weight: 500;
  color: #5A4FF3  ;
}

.ui.fluid.dropdown {
  display: flex;
}

/*loading spinner*/

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: white;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
      } 75% {
          transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
          -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        } 100% {
            transform: rotate(-360deg);
            -webkit-transform: rotate(-360deg);
          }
}

/*Footer*/

.ui.fluid.container.footer {
    background-color:#ffffff;
    position: relative;
    padding: 2rem;
    margin: 2rem 0 0 0;
}

/*Profile*/

.ui.transparent.input > input {
  font-size: larger;
  color: gray;
}

/*Date Pick Modal*/

.ui.center.aligned.container.date {
  margin-bottom: 2rem;
}

.ui.header.dir {
  color: #5A4FF3
}

.ui.header.nothing {
  margin: 4rem;
}

canvas.mapboxgl-canvas {
  top: 0;
  left: 0;
  border-radius: .28571429rem;
}